workflow_data/Pocket - Inbound.json
{
  "name": "Pocket - Inbound",
  "id": "2UI2FJmTqSxx3MpH",
  "nodes": [
    {
      "id": "pocket-inbound-webhook",
      "name": "Pocket - Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-860, 0],
      "webhookId": "pocket-inbound-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "pocket-inbound",
        "responseMode": "responseNode",
        "authentication": "none",
        "options": { "rawBody": true }
      }
    },
    {
      "id": "pocket-verify-hmac-dedup",
      "name": "Pocket - Verify HMAC & Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-620, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Reference implementation for Pocket - Verify HMAC & Dedup (n8n Code node v2).\n// Pure JS HMAC-SHA256 (require('crypto') and Web Crypto are blocked in n8n sandbox).\n// Raw body: with Webhook \"Raw Body\" enabled, n8n puts the exact payload in binary.data (base64).\n\nfunction envGet(key) {\n  try {\n    return $env[key];\n  } catch (e) {\n    return undefined;\n  }\n}\n\nfunction timingSafeEqual(a, b) {\n  if (a.length !== b.length) return false;\n  let out = 0;\n  for (let i = 0; i < a.length; i++) out |= a.charCodeAt(i) ^ b.charCodeAt(i);\n  return out === 0;\n}\n\nfunction bytesToHex(bytes) {\n  return Array.from(bytes).map((b) => b.toString(16).padStart(2, '0')).join('');\n}\n\nfunction bytesToBase64(bytes) {\n  if (typeof Buffer !== 'undefined') {\n    return Buffer.from(bytes).toString('base64');\n  }\n  let binary = '';\n  for (const b of bytes) binary += String.fromCharCode(b);\n  return btoa(binary);\n}\n\nfunction utf8Bytes(str) {\n  if (typeof TextEncoder !== 'undefined') {\n    return new TextEncoder().encode(str);\n  }\n  if (typeof Buffer !== 'undefined') {\n    return Uint8Array.from(Buffer.from(str, 'utf8'));\n  }\n  const out = [];\n  for (let i = 0; i < str.length; i++) {\n    let c = str.charCodeAt(i);\n    if (c < 0x80) out.push(c);\n    else if (c < 0x800) {\n      out.push(0xc0 | (c >> 6), 0x80 | (c & 0x3f));\n    } else if (c >= 0xd800 && c <= 0xdbff && i + 1 < str.length) {\n      const c2 = str.charCodeAt(++i);\n      const u = 0x10000 + ((c - 0xd800) << 10) + (c2 - 0xdc00);\n      out.push(\n        0xf0 | (u >> 18),\n        0x80 | ((u >> 12) & 0x3f),\n        0x80 | ((u >> 6) & 0x3f),\n        0x80 | (u & 0x3f)\n      );\n    } else {\n      out.push(0xe0 | (c >> 12), 0x80 | ((c >> 6) & 0x3f), 0x80 | (c & 0x3f));\n    }\n  }\n  return new Uint8Array(out);\n}\n\nfunction decodeRawBody(input) {\n  const bin = input.binary && input.binary.data;\n  if (bin && bin.data) {\n    if (typeof Buffer !== 'undefined') {\n      return Buffer.from(bin.data, 'base64').toString('utf8');\n    }\n    const bytes = Uint8Array.from(atob(bin.data), (c) => c.charCodeAt(0));\n    if (typeof TextDecoder !== 'undefined') {\n      return new TextDecoder().decode(bytes);\n    }\n    if (typeof Buffer !== 'undefined') {\n      return Buffer.from(bytes).toString('utf8');\n    }\n    throw new Error('Cannot decode webhook raw body (no Buffer/TextDecoder).');\n  }\n  const item = input.json || {};\n  if (item.rawBody != null) return String(item.rawBody);\n  if (typeof item.body === 'string') return item.body;\n  if (item.body !== undefined) return JSON.stringify(item.body);\n  return null;\n}\n\n// --- SHA-256 (pure JS) ---\nconst K = new Uint32Array([\n  0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n  0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n  0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n  0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n  0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n  0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n  0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n  0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2,\n]);\n\nfunction rotr(x, n) {\n  return (x >>> n) | (x << (32 - n));\n}\n\nfunction sha256Bytes(data) {\n  const l = data.length;\n  const bitLen = l * 8;\n  const withOne = l + 1;\n  const padLen = (withOne % 64 <= 56 ? 56 : 120) - (withOne % 64) + withOne;\n  const buf = new Uint8Array(padLen + 8);\n  buf.set(data);\n  buf[l] = 0x80;\n  const view = new DataView(buf.buffer);\n  view.setUint32(buf.length - 4, bitLen, false);\n\n  let h0 = 0x6a09e667;\n  let h1 = 0xbb67ae85;\n  let h2 = 0x3c6ef372;\n  let h3 = 0xa54ff53a;\n  let h4 = 0x510e527f;\n  let h5 = 0x9b05688c;\n  let h6 = 0x1f83d9ab;\n  let h7 = 0x5be0cd19;\n\n  const w = new Uint32Array(64);\n  for (let i = 0; i < buf.length; i += 64) {\n    for (let t = 0; t < 16; t++) {\n      w[t] = view.getUint32(i + t * 4, false);\n    }\n    for (let t = 16; t < 64; t++) {\n      const s0 = rotr(w[t - 15], 7) ^ rotr(w[t - 15], 18) ^ (w[t - 15] >>> 3);\n      const s1 = rotr(w[t - 2], 17) ^ rotr(w[t - 2], 19) ^ (w[t - 2] >>> 10);\n      w[t] = (w[t - 16] + s0 + w[t - 7] + s1) >>> 0;\n    }\n    let a = h0;\n    let b = h1;\n    let c = h2;\n    let d = h3;\n    let e = h4;\n    let f = h5;\n    let g = h6;\n    let hh = h7;\n    for (let t = 0; t < 64; t++) {\n      const S1 = rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25);\n      const ch = (e & f) ^ (~e & g);\n      const temp1 = (hh + S1 + ch + K[t] + w[t]) >>> 0;\n      const S0 = rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22);\n      const maj = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (S0 + maj) >>> 0;\n      hh = g;\n      g = f;\n      f = e;\n      e = (d + temp1) >>> 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (temp1 + temp2) >>> 0;\n    }\n    h0 = (h0 + a) >>> 0;\n    h1 = (h1 + b) >>> 0;\n    h2 = (h2 + c) >>> 0;\n    h3 = (h3 + d) >>> 0;\n    h4 = (h4 + e) >>> 0;\n    h5 = (h5 + f) >>> 0;\n    h6 = (h6 + g) >>> 0;\n    h7 = (h7 + hh) >>> 0;\n  }\n\n  const out = new Uint8Array(32);\n  const outView = new DataView(out.buffer);\n  outView.setUint32(0, h0, false);\n  outView.setUint32(4, h1, false);\n  outView.setUint32(8, h2, false);\n  outView.setUint32(12, h3, false);\n  outView.setUint32(16, h4, false);\n  outView.setUint32(20, h5, false);\n  outView.setUint32(24, h6, false);\n  outView.setUint32(28, h7, false);\n  return out;\n}\n\nfunction hmacSha256(keyStr, msgStr) {\n  const block = 64;\n  let key = utf8Bytes(keyStr);\n  if (key.length > block) key = sha256Bytes(key);\n  if (key.length < block) {\n    const padded = new Uint8Array(block);\n    padded.set(key);\n    key = padded;\n  }\n  const iKeyPad = new Uint8Array(block);\n  const oKeyPad = new Uint8Array(block);\n  for (let i = 0; i < block; i++) {\n    iKeyPad[i] = key[i] ^ 0x36;\n    oKeyPad[i] = key[i] ^ 0x5c;\n  }\n  const msg = utf8Bytes(msgStr);\n  const inner = new Uint8Array(block + msg.length);\n  inner.set(iKeyPad);\n  inner.set(msg, block);\n  const innerHash = sha256Bytes(inner);\n  const outer = new Uint8Array(block + innerHash.length);\n  outer.set(oKeyPad);\n  outer.set(innerHash, block);\n  return sha256Bytes(outer);\n}\n\nconst FALLBACK_SECRET = 'dev-pocket-signing-secret';\nconst secret = envGet('POCKET_WEBHOOK_SIGNING_SECRET') || FALLBACK_SECRET;\nif (!secret || secret === 'REPLACE_POCKET_WEBHOOK_SIGNING_SECRET') {\n  throw new Error('POCKET_WEBHOOK_SIGNING_SECRET not configured (set n8n env var or update Code node fallback constant).');\n}\n\nconst input = $input.first();\nconst item = input.json || {};\nconst headers = Object.fromEntries(\n  Object.entries(item.headers || {}).map(([k, v]) => [String(k).toLowerCase(), v])\n);\n\nconst timestamp = headers['x-heypocket-timestamp'];\nconst signature = headers['x-heypocket-signature'];\nif (!timestamp || !signature) {\n  throw new Error('Missing X-HeyPocket-Timestamp or X-HeyPocket-Signature headers.');\n}\n\nconst rawBody = decodeRawBody(input);\nif (rawBody == null) {\n  throw new Error('Missing raw body for Pocket HMAC verification.');\n}\n\nconst timestampRaw = String(timestamp).trim();\nlet tsSeconds = parseInt(timestampRaw, 10);\nif (Number.isNaN(tsSeconds)) {\n  throw new Error('Invalid X-HeyPocket-Timestamp.');\n}\n// Pocket docs: X-HeyPocket-Timestamp is Unix time in milliseconds.\nif (timestampRaw.length >= 13 || tsSeconds > 1e12) {\n  tsSeconds = Math.floor(tsSeconds / 1000);\n}\nconst now = Math.floor(Date.now() / 1000);\nconst SKEW_SECONDS = 300;\nif (Math.abs(now - tsSeconds) > SKEW_SECONDS) {\n  throw new Error(`Pocket webhook timestamp outside allowed window (${SKEW_SECONDS / 60} minutes).`);\n}\n\n// HMAC uses the exact header string Pocket sent (typically ms).\nconst signedPayload = `${timestampRaw}.${rawBody}`;\nconst mac = hmacSha256(secret, signedPayload);\nconst expectedHex = bytesToHex(mac);\nconst expectedB64 = bytesToBase64(mac);\nconst provided = String(signature).replace(/^sha256=/, '');\n\nif (!timingSafeEqual(expectedHex, provided) && !timingSafeEqual(expectedB64, provided)) {\n  const usingFallback = !envGet('POCKET_WEBHOOK_SIGNING_SECRET');\n  throw new Error(\n    usingFallback\n      ? 'Invalid Pocket webhook HMAC signature. POCKET_WEBHOOK_SIGNING_SECRET is not set on the n8n container — restart n8n after adding it to .env, or update FALLBACK_SECRET in this Code node to match Pocket.'\n      : 'Invalid Pocket webhook HMAC signature. Confirm POCKET_WEBHOOK_SIGNING_SECRET matches the signing secret shown when you created the Pocket webhook.'\n  );\n}\n\nconst body = typeof item.body === 'object' && item.body !== null ? item.body : JSON.parse(rawBody);\n\nfunction extractRecordingId(payload) {\n  if (!payload || typeof payload !== 'object') return null;\n  if (payload.recording && payload.recording.id) return payload.recording.id;\n  const data = payload.data || payload;\n  return data.recording_id || data.recordingId || data.id || null;\n}\n\nconst recordingId = extractRecordingId(body);\nif (!recordingId) {\n  throw new Error('Missing recording_id in Pocket webhook payload.');\n}\n\nconst event = body.event || body.type || 'summary.completed';\nconst deliveryKey = body.id || body.delivery_id || body.event_id || body.timestamp || `${event}:${timestampRaw}`;\nconst dedupKey = `${recordingId}:${deliveryKey}`;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenEvents) staticData.seenEvents = {};\nif (!staticData.seenEventKeys) staticData.seenEventKeys = [];\n\nconst existing = staticData.seenEvents[dedupKey];\nif (existing) {\n  return [{\n    json: {\n      duplicate: true,\n      job_id: existing.job_id,\n      recording_id: recordingId,\n      event,\n      dedup_key: dedupKey,\n    },\n  }];\n}\n\nconst jobId = `${Date.now()}-${Math.random().toString(36).slice(2, 10)}`;\n\nstaticData.seenEvents[dedupKey] = { job_id: jobId, handled_at: new Date().toISOString() };\nstaticData.seenEventKeys.push(dedupKey);\nconst MAX = 500;\nwhile (staticData.seenEventKeys.length > MAX) {\n  const old = staticData.seenEventKeys.shift();\n  delete staticData.seenEvents[old];\n}\n\nreturn [{\n  json: {\n    duplicate: false,\n    job_id: jobId,\n    recording_id: recordingId,\n    event,\n    dedup_key: dedupKey,\n    raw: body,\n  },\n}];\n"
      }
    },
    {
      "id": "pocket-is-duplicate",
      "name": "Pocket - Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-380, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "pocket-respond-dedup",
      "name": "Pocket - Respond Already Processed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-140, -120],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'already_processed', job_id: $json.job_id, recording_id: $json.recording_id, dedup_key: $json.dedup_key }) }}",
        "options": {}
      }
    },
    {
      "id": "pocket-fetch-recording",
      "name": "Pocket - Fetch Recording",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-140, 100],
      "parameters": {
        "method": "GET",
        "url": "=https://public.heypocketai.com/api/v1/public/recordings/{{ $json.recording_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "include_transcript", "value": "true" },
            { "name": "include_summarizations", "value": "true" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "application/json" }] },
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "d4JiOz1Mktfu04uR", "name": "Pocket API Key" } }
    },
    {
      "id": "pocket-normalize",
      "name": "Pocket - Normalize payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 100],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const response = $json || {};\nconst rec = response.data || response;\nconst meta = $('Pocket - Verify HMAC & Dedup').first().json;\n\nlet transcript = null;\nif (typeof rec.transcript === 'string') transcript = rec.transcript;\nelse if (rec.transcript && rec.transcript.text) transcript = rec.transcript.text;\nelse if (rec.transcription && rec.transcription.text) transcript = rec.transcription.text;\n\nlet summary = null;\nif (typeof rec.summary === 'string') summary = rec.summary;\nelse if (rec.summary && rec.summary.text) summary = rec.summary.text;\nelse if (Array.isArray(rec.summarizations) && rec.summarizations.length) {\n  const s0 = rec.summarizations[0];\n  summary = typeof s0 === 'string' ? s0 : (s0.text || s0.summary || null);\n} else if (rec.summarization && rec.summarization.text) {\n  summary = rec.summarization.text;\n}\n\nconst payload = {\n  source: 'pocket',\n  job_id: meta.job_id,\n  recording_id: meta.recording_id,\n  title: rec.title || rec.name || null,\n  created_at: rec.created_at || rec.createdAt || null,\n  transcript,\n  summary,\n  action_items: rec.action_items || rec.actionItems || [],\n  mind_map_available: Boolean(rec.mind_map || rec.mindMap || rec.mind_map_available),\n  tags: rec.tags || [],\n  audio_url_if_needed: rec.audio_url || rec.audioUrl || null,\n  intent_status: 'needs_user_decision',\n  event: meta.event,\n  dedup_key: meta.dedup_key\n};\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "pocket-handoff",
      "name": "Pocket - Handoff to Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [340, 100],
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE_ASSISTANT_WEBHOOK_URL",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "KGy2caYQbQbQaTyK", "name": "Assistant Handoff Auth" } }
    },
    {
      "id": "pocket-ack",
      "name": "Pocket - Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [580, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', job_id: $('Pocket - Normalize payload').first().json.job_id, intent_status: 'needs_user_decision' }) }}",
        "options": {}
      }
    },
    {
      "id": "pocket-notify-telegram",
      "name": "Pocket - Notify Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [340, 260],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "1IrnXdUpfHhhT5R8",
          "mode": "list",
          "cachedResultName": "Send Telegram Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "=🎙️ Pocket transcription complete: {{ $json.title || $json.recording_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Pocket - Inbound Webhook": {
      "main": [[{ "node": "Pocket - Verify HMAC & Dedup", "type": "main", "index": 0 }]]
    },
    "Pocket - Verify HMAC & Dedup": {
      "main": [[{ "node": "Pocket - Is Duplicate?", "type": "main", "index": 0 }]]
    },
    "Pocket - Is Duplicate?": {
      "main": [
        [{ "node": "Pocket - Respond Already Processed", "type": "main", "index": 0 }],
        [{ "node": "Pocket - Fetch Recording", "type": "main", "index": 0 }]
      ]
    },
    "Pocket - Fetch Recording": {
      "main": [[{ "node": "Pocket - Normalize payload", "type": "main", "index": 0 }]]
    },
    "Pocket - Normalize payload": {
      "main": [
        [
          { "node": "Pocket - Handoff to Assistant", "type": "main", "index": 0 },
          { "node": "Pocket - Notify Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pocket - Handoff to Assistant": {
      "main": [[{ "node": "Pocket - Ack", "type": "main", "index": 0 }]]
    },
    "Pocket - Notify Telegram": {
      "main": [[{ "node": "Pocket - Ack", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "aef1be19-a950-44e8-8ee1-8b0afeeb1012",
  "tags": []
}
